<!-- Hero Section Component -->
<section
  class="bg-[#272727] border border-[#272727] shadow-none flex flex-col items-center justify-center w-full h-auto">

  <!-- Conteúdo do hero -->
  <div class="flex flex-col items-center justify-center h-auto w-full">

    <!-- Texto do hero -->
    <div class="flex flex-col items-center justify-center text-center p-6 gap-2 mb-6">
      <!-- Subtítulo do hero -->
      <h1 class="text-2xl font-semibold text-white">
        Paninho antigo e detergente neutro estão estragando a pintura do seu carro
        <span class="text-primary"> e você pode nem perceber!</span>
      </h1>
      <!-- Descrição do hero -->
      <p class="text-sm text-white/80 font-normal w-full">
        Um guia prático e direto que mostra os processos, técnicas e escolhas corretas de produtos usados na lavagem
        detalhada profissional
        — para cuidar do seu veículo com segurança e economia.
      </p>
    </div>

    <!-- Lista de benefícios do hero -->
    <div class="flex flex-col items-center justify-center text-center p-6 gap-2 text-white">
      <!-- Título da lista de benefícios -->
      <h2 class="text-md font-semibold text-center text-primary">Você já passou por alguma dessas situações?</h2>
      <!-- Lista de benefícios -->
      <ul class="flex flex-col items-start gap-2 w-full max-w-2xl">
        <li class="flex items-start gap-2 text-sm text-left text-white">
          <img src="assets/icons/arrow-right.svg" alt="Check" class="w-4 h-4 flex-shrink-0 mt-0.5">
          <span>Quando olha a pintura no sol, ela está toda <span class="text-primary">arranhada</span>?</span>
        </li>
        <li class="flex items-start gap-2 text-sm text-left text-white">
          <img src="assets/icons/arrow-right.svg" alt="Check" class="w-4 h-4 flex-shrink-0 mt-0.5">
          <span>Aquela <span class="text-primary">sujeira</span> da caixa de roda nunca sai com facilidade?</span>
        </li>
        <li class="flex items-start gap-2 text-sm text-left text-white">
          <img src="assets/icons/arrow-right.svg" alt="Check" class="w-4 h-4 flex-shrink-0 mt-0.5">
          <span>Os plásticos externos estão <span class="text-primary">ressecados</span> e sem cor?</span>
        </li>
        <li class="flex items-start gap-2 text-sm text-left text-white">
          <img src="assets/icons/arrow-right.svg" alt="Check" class="w-4 h-4 flex-shrink-0 mt-0.5">
          <span>Fica perdido com tanta <span class="text-primary">informação</span> diferente na internet?</span>
        </li>
      </ul>
    </div>

  </div>

  <!-- Vídeo do hero -->
  <div class="w-full max-w-4xl p-6">
    <h2 class="text-sm mb-4 font-semibold text-center text-white">É exatamente isso que este guia resolve...</h2>
    <img src="assets/images/img-hero.png" alt="Thumbnail do vídeo" class="w-full h-full object-cover" loading="lazy">
  </div>
</section>